h1{font-family: 'Bebas Neue', cursive; text-align: center;}
.img{text-align: center;}
body{background-color:aquamarine ;}
.span-html{display: flex; justify-content: center;color: brown; }
.span-css{display: flex; justify-content: center;color: brown; }
.span-git{display: flex; justify-content: center;color: brown; }